workspace/
__pycache__/
*.pyc
.env
.DS_Store
blog/node_modules/
blog/dist/
blog/.astro/
blog/src/content/posts/
blog/src/content/backstage/
node_modules/
__pycache__/
target/
coverage/

backstage/*
!backstage/alexis/
